// font-size
$base-font-size: 16px;

// colors
$primary-color: #003164;
$second-color: #FFEDF7;
$text-color: #FF4384;
$second-text-color: #00A7FF;
$title-bar-color: #335A83;
$danger-color: #f36886;

// panel
$menu-panel-width: 450px;

$pc-media: 1280px;
$pcs-media: 1279px;
$pad-media: 760px;
$pads-media: 759px;
$phone-media: 480px;
$phones-media: 479px;